<div>
    <form id="uploadFileForm" method="post" action="api/Faces" enctype="multipart/form-data">
        <label>Lớp</label>
        <select id="select" name="selectList">
            <option value="groupone">BI001</option>
            <option value="grouptwo">BI002</option>
        </select>
        <input name="myFile" type="file" />
        <input type="submit" value="Upload"/>
    </form>

</div>

